.map{
    overflow: hidden;
}

.map__image{
    width: 80%;
    float: left;
}
.map__image svg{
    width: 100%;
}
.map__image path{
    fill: #bdeb92;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 1s;
}

.map__image path.notRadio{
    fill: #6c6c6c;
    stroke: #FFF;
    stroke-width: 1px;
    transition: fill 1s;
} 

.map__image .is-active path{
    fill: #3538d2;
    transition: fill 1s;
}

.map__list{
    float: right;
    width: 20%;
}

.map__list a{
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
}

.map__list a.is-active{
    color: #3538d2;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s;
}